{%include 'navbar.html'%}
{%load static%}
<style>
    
</style>
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Contact us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Connect with Nexus Info and Let’s Shape Your Success Together.</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
    <b>Phone:    </b>
    +91 8778993293
    <br><br>
    <b>Email:</b>
    contact@nexusinfo.in
    <br><br>
    <b>Location:</b>
    Coimbatore, Tamil Nadu
    <br><br>
    <b>Experience the benefits of our fully digital operation; we operate without a brick-and-mortar office.</b>
        			</div>
        		</center>
        	</div>
        </div>

